﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}

@Styles.Render("~/Content/managerCss")
@using MMS.StoreFulfillment.ManagerUI.Common
@model MMS.StoreFulfillment.ManagerUI.Models.RequestView.RequestViewModel
<div style="min-width: 450px;">
    @using (Html.BeginForm("Index", "RequestView", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <fieldset>
            <h4>Заказ</h4>
            <div class="form-group display">
                @Html.LabelFor(m => m.OrderId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="form-control-static">@Model.OrderId</div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.WWSOrderId))
            {
                <div class="form-group display">
                    @Html.LabelFor(m => m.WWSOrderId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <div class="form-control-static">@Model.WWSOrderId</div>
                    </div>
                </div>
            }

            <h4>Корзина</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Позиция</td>
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Количество</td>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayForCollection(m => m.Items)
                    <tr>
                        <td colspan="3"></td>
                        <td style="font-weight: bold;">Итого</td>
                        <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice) руб.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </fieldset>
        <fieldset>
            @Html.DisplayFor(m => m.DeliveryInfo)
            @Html.DisplayFor(m => m.CustomerInfo)
        </fieldset>
    }
</div>