﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Задачи</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @{
                    var user = HttpContext.Current.User;
                }
                @if (user == null || !user.Identity.IsAuthenticated)
                {
                    <div style="text-align: right;">
                        <a class="navbar-brand" href="@Url.Action("Login", "Account")" style="padding: 5px;">войти</a>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $("#loginUserDialog").modal({ show: true, backdrop: "static", keyboard: false });
                            //$("#loginUserDialog").data("returnUrl", $('[id$="returnUrl"]').val()).dialog("open");
                        });
                    </script>
                }
                else
                {
                    <div class="navbar-brand">
                        <span>Добро пожаловать, @user.Identity.Name&nbsp;&nbsp;|&nbsp;&nbsp;<a class="customLink" href=@Url.Action("Logout", "Account")>выйти</a></span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("Dialogs/Authorize")
    @RenderSection("scripts", required: false)
</body>
</html>
