﻿<div id="modalIncorrectPrice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Неправильная цена</h4>
            </div>
            <form id="incorrectPriceForm">
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>Цена</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mip_correctPrice", null, new { @class = "form-control", @placeholder = "Цена…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mip_comment", null, 2, 0, new { @class = "form-control", @placeholder = "Комментарий…" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="mip_btn_ok" type="submit" class="btn btn-primary">OK</button>
                    <button id="mip_btn_cancel" class="btn btn-default">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        incorrectPriceValidationRule();
        formPrevent('#incorrectPriceForm');
        resetModal('#modalIncorrectPrice', '#incorrectPriceForm', 'mip_correctPrice');

        $('#mip_btn_cancel').click(function () {
            closePopup('#modalIncorrectPrice');
            clearPostData();
        });

        $('#mip_btn_ok').click(function () {
            //required
            var correctPrice = $('#mip_correctPrice').val();
            if (!correctPrice) return;

            var comment = $('#mip_comment').val();

            var result = String.format('Цена:{0}', correctPrice);
            result += addResultData('Комментарий', comment);

            var id = $('#itemId').val();
            $('#ItemStateDescription_' + id).val(result);

            closePopup('#modalIncorrectPrice');
        });
    });
</script>