﻿<div id="modalNotFound" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Не найден</h4>
            </div>
            <form id="notFoundForm">
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tr class="info">
                            <td colspan="2">
                                Если возможно предложите альтернативу
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Артикул</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mnf_article", null, new { @class = "form-control", @placeholder = "Артикул…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Кол-во</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mnf_qty", null, new { @class = "form-control", @placeholder = "Кол-во…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Цена</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mnf_price", null, new { @class = "form-control", @placeholder = "Цена…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Витринный экземпляр</td>
                            <td>
                                <div class="form-group">
                                    @Html.CheckBox("mnf_displayItem", false)
                                </div>
                            </td>
                        </tr>
                        <tr class="info" id="mnf_displayItemConditionTr" style="display: none">
                            <td>Описание состояния витрины</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mnf_displayItemCondition", null, 2, 0, new { @class = "form-control", @placeholder = "Описание состояния витрины…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mnf_comment", null, 2, 0, new { @class = "form-control", @placeholder = "Комментарий…" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="mnf_btn_ok" type="submit" class="btn btn-primary">OK</button>
                    <button id="mnf_btn_cancel" class="btn btn-default">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        notFoundValidationRule();
        formPrevent('#notFoundForm');
        resetModal('#modalNotFound', '#notFoundForm', 'mnf_article');

        $('#mnf_displayItem').change(function () {
            if ($(this).is(":checked")) {
                $('#mnf_displayItemConditionTr').css("display", "table-row");
            } else {
                $('#mnf_displayItemConditionTr').css("display", "none");
                $('#mnf_displayItemCondition').val('');
            }
        });

        $('#mnf_btn_cancel').click(function () {
            closePopup('#modalNotFound');
            clearPostData();
        });

        $('#mnf_btn_ok').click(function () {
            var article = $('#mnf_article').val();
            var qty = $('#mnf_qty').val();
            var price = $('#mnf_price').val();
            var displayItem = $('#mnf_displayItem').is(':checked') ? 'да' : 'нет';
            var displayItemСomment = $('#mnf_displayItemCondition').val();
            var comment = $('#mnf_comment').val();

            var result = '';
            result += addResultData('Артикул', article);
            result += addResultData('Кол-во', qty);
            result += addResultData('Цена', price);
            result += addResultData('Витринный экземпляр', displayItem);
            result += addResultData('Описание состояния витрины', displayItemСomment);
            result += addResultData('Комментарий', comment);

            var id = $('#itemId').val();
            $('#ItemStateDescription_' + id).val(result);

            closePopup('#modalNotFound');
        });
    });
</script>