﻿<div id="modalReservedPart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Отложен частично</h4>
            </div>
            <form id="reservedPartForm">
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>Доступное кол-во</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrp_correctqty", null, new { @class = "form-control", @placeholder = "Кол-во…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">
                                Если возможно предложите альтернативу
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Артикул</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrp_article", null, new { @class = "form-control", @placeholder = "Артикул…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Кол-во</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrp_qty", null, new { @class = "form-control", @placeholder = "Кол-во…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Цена</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrp_price", null, new { @class = "form-control", @placeholder = "Цена…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Витринный экземпляр</td>
                            <td>
                                <div class="form-group">
                                    @Html.CheckBox("mrp_displayItem", false)
                                </div>
                            </td>
                        </tr>
                        <tr class="info" id="mrp_DisplayItemConditionTr" style="display: none">
                            <td>Описание состояния витрины</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mrp_displayItemCondition", null, 2, 0, new { @class = "form-control", @placeholder = "Описание состояния витрины…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mrp_comment", null, 2, 0, new { @class = "form-control", @placeholder = "Комментарий…" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="mrp_btn_ok" type="submit" class="btn btn-primary">OK</button>
                    <button id="mrp_btn_cancel" class="btn btn-default">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        reservedPartValidationRule();
        formPrevent('#reservedPartForm');
        resetModal('#modalReservedPart', '#reservedPartForm', 'mrp_correctqty');

        $('#mrp_displayItem').change(function () {
            if ($(this).is(":checked")) {
                $('#mrp_DisplayItemConditionTr').css("display", "table-row");
            } else {
                $('#mrp_DisplayItemConditionTr').css("display", "none");
                $('#mrp_displayItemCondition').val('');
            }
        });

        $('#mrp_btn_cancel').click(function () {
            closePopup('#modalReservedPart');
            clearPostData();
        });

        $('#mrp_btn_ok').click(function () {
            //required
            var сorrectQty = $('#mrp_correctqty').val();
            if (!сorrectQty) return;

            var article = $('#mrp_article').val();
            var qty = $('#mrp_qty').val();
            var price = $('#mrp_price').val();
            var displayItem = $('#mrp_displayItem').is(":checked") ? "да" : "нет";
            var displayItemCondition = $('#mrp_displayItemCondition').val();
            var comment = $('#mrp_comment').val();

            var result = String.format('Доступное кол-во:{0}', сorrectQty);
            result += addResultData('Артикул', article);
            result += addResultData('Кол-во', qty);
            result += addResultData('Цена', price);
            result += addResultData('Витринный экземпляр', displayItem);
            result += addResultData('Описание состояния витрины', displayItemCondition);
            result += addResultData('Комментарий', comment);

            var id = $('#itemId').val();
            $('#ItemStateDescription_' + id).val(result);

            closePopup('#modalReservedPart');
        });
    });
</script>