﻿<div id="modalTransferItem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Отложен частично</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    <tr>
                        <td>Магазин из которого запрошен трансфер</td>
                        <td>
                            <div class="input-append">
                                @Html.TextBox("modalTransferItem_transferSapCode", null, new { @class = "form-control", @placeholder = "SapCode…" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер заказ-трансфера</td>
                        <td>
                            <div class="input-append">
                                @Html.TextBox("modalTransferItem_transferNumber", null, new { @class = "form-control", @placeholder = "Номер…", @maxlength = "9" })
                            </div>
                        </td>
                    </tr>
                </table>
                @Html.Hidden("itemId")
            </div>
            <div class="modal-footer">
                <button id="modalTransferItem_btn_ok" class="btn btn-primary">OK</button>
                <button id="modalTransferItem_btn_cancel" class="btn btn-default">Отмена</button>
            </div>
        </div>
    </div>
</div>