﻿<div id="modalReservedDisplayItem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Отложен витринный экземпляр</h4>
            </div>
            <form id="reservedDisplayItemForm">
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>Описание состояния</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mrdi_conditionStateComment", null, 2, 0, new { @class = "form-control", @placeholder = "Описание состояния…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Предлагаемая цена</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrdi_correctPrice", null, new { @class = "form-control", @placeholder = "Цена…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Доступное кол-во</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrdi_correctQty", null, new { @class = "form-control", @placeholder = "Кол-во…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td colspan="2">
                                Если возможно, предложите альтернативу
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Артикул</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrdi_article", null, new { @class = "form-control", @placeholder = "Артикул…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Кол-во</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrdi_qty", null, new { @class = "form-control", @placeholder = "Кол-во…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Цена</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("mrdi_price", null, new { @class = "form-control", @placeholder = "Цена…" })
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Витринный экземпляр</td>
                            <td>
                                <div class="form-group">
                                    @Html.CheckBox("mrdi_displayItem", false)
                                </div>
                            </td>
                        </tr>
                        <tr class="info" id="mrdi_displayItemConditionTr" style="display: none">
                            <td>Описание состояния витрины</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mrdi_displayItemCondition", null, 2, 0, new { @class = "form-control", @placeholder = "Описание состояния витрины…" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>
                                <div class="form-group">
                                    @Html.TextArea("mrdi_comment", null, 2, 0, new { @class = "form-control", @placeholder = "Комментарий…" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="mrdi_btn_ok" type="submit" class="btn btn-primary">OK</button>
                    <button id="mrdi_btn_cancel" class="btn btn-default">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var validator = resDisplayItemValidationRule();
        formPrevent('#reservedDisplayItemForm');
        resetModal('#modalReservedDisplayItem', '#reservedDisplayItemForm', 'mrdi_conditionStateComment');

        $('#mrdi_displayItem').change(function () {
            if ($(this).is(":checked")) {
                $('#mrdi_displayItemConditionTr').css("display", "table-row");
            } else {
                $('#mrdi_displayItemConditionTr').css("display", "none");
                $('#mrdi_displayItemCondition').val('');
            }
        });

        $('#mrdi_btn_cancel').click(function () {
            closePopup('#modalReservedDisplayItem');
            clearPostData();
        });

        $('#mrdi_btn_ok').click(function() {
            //required
            validator.validate();
            if (!validator.isValid()) return;
            var conditionStateComment = $('#mrdi_conditionStateComment').val();
            var correctPrice = $('#mrdi_correctPrice').val();
            var correctQty = $('#mrdi_correctQty').val();

            var data = {};
            $('#reservedDisplayItemForm').serializeArray().map(function(item) {
                data[item.name] = item.value;
            });


            var article = $('#mrdi_article').val();
            var qty = $('#mrdi_qty').val();
            var price = $('#mrdi_price').val();
            var displayItem = $('#mrdi_displayItem').is(':checked') ? 'да' : 'нет';
            var displayItemCondition = $('#mrdi_displayItemCondition').val();
            var comment = $('#mrdi_comment').val();

            var result = String.format('Описание состояния:{0}.Предлагаемая цена:{1}.Доступное кол-во:{2}',
                conditionStateComment, correctPrice, correctQty);
            result += addResultData('Артикул', article);
            result += addResultData('Кол-во', qty);
            result += addResultData('Цена', price);
            result += addResultData('Витринный экземпляр', displayItem);
            result += addResultData('Описание состояния витрины', displayItemCondition);
            result += addResultData('Комментарий', comment);

            var id = $('#itemId').val();
            $('#ItemStateDescription_' + id).val(result);

            closePopup('#modalReservedDisplayItem');
        });
    });
</script>