﻿@{
    ViewBag.Title = "Закончить позднее";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h4>Задача отложена!</h4>
        <a class="btn btn-danger btn-lg btn-block" onclick="window.open('', '_self', '');window.close();">Закрыть</a>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 

<script type="text/javascript">
    function quitBox(cmd)
    {
        if (cmd=='quit')
        {
            open(location, '_self').close();
        }
        return false;
    }
</script>