﻿@{
    ViewBag.Title = "Задача завершена";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <h4>Задача завершена</h4>
        <a class="btn btn-danger btn-lg btn-block" onclick="window.open('', '_self', '');window.close();">Закрыть</a>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>