﻿@model MMS.StoreFulfillment.ManagerUI.Models.ManagerTask.ItemViewModel
<tr>
    <td rowspan="1">
        @Html.HiddenFor(m => m.Id)
    </td>
    <td colspan="3">@(string.IsNullOrEmpty(Model.Title) ? "[название не известно]" : Model.Title)</td>
</tr>
<tr>
    <td></td>
    <td>
        @Html.DisplayFor(m => m.Article)
    </td>
    <td>
        @Html.DisplayFor(m => m.Price)
    </td>
    <td>
        @Html.DisplayFor(m => m.Qty)
    </td>
</tr>
<tr>
    <td></td>
    <td colspan="3">
        @if (Model.ItemAnswers.Any())
        {
            <span>Выберите ответ</span>
            @Html.DropDownListFor(m => Model.ItemAnswers, null, "Выберете ответ", new { id = "answersForItem_" + Model.Id, @class = "required" })
        }
        else
        {
            @*@Html.DisplayFor(m=>Model.ReserveStatus)*@    
        }
        
    </td>
</tr>
<tr class="success"><td colspan="4"></td></tr>