﻿@model MMS.StoreFulfillment.ManagerUI.Models.ManagerTask.ReserveProductsContent
        
<script type="text/javascript">
    $(document).ready(function() {
        $('#comments').keyup(function() {
            var left = 200 - $(this).val().length;
            if (left < 0) {
                left = 0;
            }
            $('#counter').text('Осталось символов: ' + left);
        });
    });
</script>
   
<div class="row">
    <div class="col-sm-8 col-md-8">
        <table class="table table-striped">
            <tr>
                <td>Способ получения</td>
                <td>@Html.DisplayFor(m => m.DeliveryType)</td>
            </tr>
            <tr>
                <td>Комментарий к заказу</td>
                <td>
                    @Html.TextAreaFor(m => m.Comments, 2, 0, new { @id="comments", @class = "form-control textarea-large", @placeholder = "Комментарий…", maxlength = 200 })
                    <p id="counter"></p>
                </td>
            </tr>
        </table>
    </div>
</div>