﻿@using System.Linq
@using MMS.StoreFulfillment.ManagerUI.Models.ManagerTask
@model ItemMovementViewModel
<h4>@string.Format("Заказ № {0} (номер WWS - {1})", Model.MoveItemsCommand.CustomerOrderId, Model.MoveItemsCommand.WwsOrderId)</h4>
<h5>Задача: @Model.Task.Name</h5>
@*@using (Html.BeginForm("", "", FormMethod.Post, new { id = "order-form" }))
    {*@
<form id="order-form" method="POST">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table table-striped">
                <tr>
                    <td>@Html.Raw(Model.Task.Description)</td>
                </tr>
            </table>
        </div>
    </div>
    @if (Model.MoveItemsCommand.Additionalnfo != null)
    {
        if (Model.MoveItemsCommand.Additionalnfo is ReserveProductsContent)
        {
            @Html.EditorFor(m => m.MoveItemsCommand.Additionalnfo)
        }
        else
        {
            @Html.DisplayFor(m => m.MoveItemsCommand.Additionalnfo)
        }
    }
    @*<div class="row">
            <div class="col-sm-8 col-md-8">
                @{ Html.RenderPartial("Partials/_OrderLines", Model.MoveItemsCommand); }
            </div>
        </div>*@
    <div class="row">
        <div id="outcomes"></div>
        <script type="text/javascript">
            var StoreFulfillment;
            (function(StoreFulfillment) {
                StoreFulfillment.RootUrl = '@Request.ApplicationPath';
                StoreFulfillment.ViewModel = @Html.Raw(Json.Encode(Model));
            })(StoreFulfillment || (StoreFulfillment = {}));
        </script>
        @Scripts.Render("~/bundles/taskapp")

        @if (!Model.MoveItemsCommand.HideOutcomes)
        {
            @*<div class="col-sm-8 col-md-8" id="accordionOutcomes">
                    @foreach (var outcome in Model.Task.Outcomes)
                    {
                        var allReqFields = Model.Task.RequiredFields.Union(outcome.RequiredFields) ?? new List<RequiredField>();

                        Html.RenderPartial("Partials/_Outcome", outcome, new ViewDataDictionary {{"allReqFields", allReqFields}});
                    }
                </div>*@
        }
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            @Html.ActionLink("Завершить позднее", "FinishLater", new { taskId = Model.Task.TaskId }, new { @class = "btn btn-danger btn-large btn-block" })
        </div>
    </div>
</form>
@*}*@
@*<script type="text/javascript">
            $('#order-form a.btn').click(function () {
                $('form#order-form').validate({ errorClass: "validation-error" });
                if (!$('form#order-form').valid()) return;
                $('#MoveItemsCommand_Outcome').val($(this).val());
            });
    </script>*@