﻿@using MMS.StoreFulfillment.ManagerUI.Models.ManagerTask
@model ItemMovementRequestViewModel
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Артикул</th>
            @if (Model.ShowPrice)
            {
                <th>Цена</th>
            }
            <th>Кол-во</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.HiddenFor(m => Model.Items[i].Id)
            @Html.HiddenFor(m => Model.Items[i].Article)
            @Html.HiddenFor(m => Model.Items[i].Price)
            @Html.HiddenFor(m => Model.Items[i].Qty)
            if (Model[i].ArticleProductType != ArticleProductTypes.Product && Model[i].ArticleProductType != ArticleProductTypes.Set)
            {
                continue;
            }
            <tr>
                <td colspan="3">@(string.IsNullOrEmpty(Model.Items[i].Title) ? "[название не известно]" : Model.Items[i].Title)</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(m => Model.Items[i].Article)
                </td>
                @if (Model.ShowPrice)
                {
                    <td>
                        @Html.DisplayFor(m => Model.Items[i].Price)
                    </td>
                }
                <td>
                    @Html.DisplayFor(m => Model.Items[i].Qty)
                </td>
            </tr>
            <tr>
                <td colspan="3">@string.Format("Отдел: {0}, ТГ {1}({2})", Model.Items[i].DepartmentNumber, Model.Items[i].ProductGroupName, Model.Items[i].ProductGroupNo)</td>
            </tr>
            <tr>
                <td colspan="3">
                    @if (Model.Items[i].ItemAnswers.Any() && !Model.Items[i].IsReadOnly)
                    {
                        <span>Выберите ответ</span>
                        @Html.DropDownListFor(m => Model.Items[i].ItemAnswers, Model.Items[i].ItemAnswers, "Выберете ответ", new { id = "answersForItem_" + Model.Items[i].Id, @class = "required" })
                    }
                    else
                    {
                        @Html.DisplayFor(m => Model.Items[i].ReserveStatus)
                    }
                </td>
            </tr>
            <tr class="success"><td colspan="4"></td></tr>
        }
    </tbody>
</table>
