﻿@using MMS.StoreFulfillment.ManagerUI.Models.ManagerTask
@model Outcome
@{
    var allReqFields = (ViewData["allReqFields"] as IEnumerable<RequiredField>).ToArray();
}
@{
    if (!Model.RequiredFields.Any())
    {
        <button class="outcome btn btn-primary btn-large btn-block" type="submit" value="@(Model.Value)">
            @string.Format("{0}", Model.Value)
        </button>

        return;
    }
}
<div class="">
    <div class="" role="tab">
        <a class="accordion-toggle btn btn-primary btn-large btn-block" data-toggle="collapse" data-parent="#accordionOutcomes" href="#collapseOutcome@(Model.Value)"
           aria-expanded="false" aria-controls="collapseOne"
           data-target="#collapseOutcome@(Model.Value.Replace(" ", "_"))">
            <i class="icon-chevron-down  icon-white"></i>@(string.Format("{0} (заполнить полей: {1})", Model.Value, allReqFields.Length))
        </a>
    </div>
    <div id="collapseOutcome@(Model.Value.Replace(" ","_"))" class="panel-collapse collapse">
        <div class="panel-body">
            <table>
                @for (int i = 0; i < allReqFields.Length; i++)
                {
                    var fieldIdentity = string.Format("{0}_{1}", "rf_", allReqFields[i].Name);
                    <tr>
                        <td>
                            @allReqFields[i].Name
                        </td>
                        <td>
                            @switch (allReqFields[i].StringType)
                            {
                                case RequiredFieldType.Boolean:
                                    <label>Выбрать</label>
                                    @Html.CheckBox(fieldIdentity, false)
                                    break;

                                case RequiredFieldType.Choice:
                                @Html.DropDownList(fieldIdentity, allReqFields[i].PredefinedValues)
                                    break;

                                case RequiredFieldType.DateTime:
                                @Html.TextBox(fieldIdentity, null, new { @class = "form-control required", @placeholder = "Введите дату…", type = "date", id=@fieldIdentity })
                                    break;

                                case RequiredFieldType.Decimal:
                                @Html.TextBox(fieldIdentity, null, new { @class = "form-control required", @placeholder = "Введите число…", id = @fieldIdentity })
                                    break;

                                case RequiredFieldType.Double:
                                @Html.TextBox(fieldIdentity, null, new { @class = "form-control required", @placeholder = "Введите число…", id = @fieldIdentity })
                                    break;

                                case RequiredFieldType.Int32:
                                @Html.TextBox(fieldIdentity, null, new { @class = "form-control required", @placeholder = "Введите целое число…", type = "number", id = @fieldIdentity })
                                    break;

                                case RequiredFieldType.String:
                                @Html.TextBox(fieldIdentity, null, new { @class = "form-control required", @placeholder = "Введите текст…" })
                                    break;

                                case RequiredFieldType.TimeSpan:
                                    const string dateTempl = "rf_{0}_{1}_{2}";
                                    var dayTempl = string.Format(dateTempl, "d", Model.Value, i);
                                    var hourTempl = string.Format(dateTempl, "h", Model.Value, i);
                                    var minuteTempl = string.Format(dateTempl, "m", Model.Value, i);

                                    <select class="input-small" id="@dayTempl" name="@dayTempl">
                                        @for (int d = 0; d <= 31; d++)
                                        {
                                            <option value="@d">
                                                @(string.Format("{0} дней", d))
                                            </option>
                                        }
                                    </select>
                                    <select class="input-small" id="@hourTempl" name="@hourTempl">
                                        @for (int h = 0; h <= 24; h++)
                                        {
                                            <option value="@h">
                                                @(string.Format("{0} часов", h));
                                            </option>
                                        }
                                    </select>
                                    <select class="input-small" id="@minuteTempl" name="@minuteTempl">
                                        @for (int m = 0; m < 12; m++)
                                        {
                                            <option value="@(m*5)">
                                                @(string.Format("{0} минут", m * 5));
                                            </option>
                                        }
                                    </select>
                                        break;
                            }
                        </td>
                    </tr>
                }
            </table>
            <button class="outcome btn btn-primary btn-large btn-block" type="submit" value="@(Model.Value)">Завершить</button>
        </div>
    </div>
</div>
