﻿@model MMS.StoreFulfillment.ManagerUI.Models.RequestView.CustomerViewModel
<h4>Заказчик</h4>
<div class="form-group display">
    @Html.LabelFor(m => m.CustomerSurname, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        <div class="form-control-static">@Html.DisplayFor(m => m.CustomerSurname)</div> 
    </div>
</div>
<div class="form-group display">
    @Html.LabelFor(m => m.CustomerName, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        <div class="form-control-static">
            @Html.DisplayFor(m => m.CustomerName)
        </div>
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        <div class="form-control-static">
            @Html.DisplayFor(m => m.Email)
        </div>
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        <div class="form-control-static">
            @Html.DisplayFor(m => m.Phone)
        </div>
    </div>
</div>