﻿@model MMS.StoreFulfillment.ManagerUI.Models.ManagerTask.DeliverOrderAdditionalInfo

<div class="row">
    <div class="col-sm-8 col-md-8">
        <table class="table table-striped">
            <tr>
                <td>Дата доставки</td>
                <td>@string.Format("{0}, {1}", Model.DeliveryDate.HasValue ? Model.DeliveryDate.Value.ToString("dd.MM.yyyy") : "[дата не задана]", Model.RequestedDeliveryTimeInterval)</td>
            </tr>
            <tr>
                <td>Тип оплаты</td>
                <td>@Html.DisplayFor(m => m.PaymentType)</td>
            </tr>
            <tr>
                <td>Имя покупателя</td>
                <td>@Html.DisplayFor(m => m.CustomerName)</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>@Html.DisplayFor(m => m.CustomerPhone)</td>
            </tr>
            <tr>
                <td>Адрес доставки</td>
                <td>@string.Format("{0}, Этаж: {1}", Model.Address, Model.Floor)</td>
            </tr>
            <tr>
                <td>Выбранный сервис доставки</td>
                <td>@Html.DisplayFor(m => m.RequestedDeliveryService)</td>
            </tr>
        </table>
    </div>
</div>