﻿@model MMS.StoreFulfillment.ManagerUI.Models.RequestView.DeliveryViewModel
<h4>Способ получения</h4>

<div class="form-group display">
    @Html.LabelFor(m => m.HasDelivery, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @string.Format("{0}", Model.HasDelivery ? "Доставка" : "Самовывоз")
    </div>
</div>

<div class="form-group display">
    @Html.LabelFor(m => m.SapCode, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        <div class="form-control-static">
            @Html.DisplayFor(m => m.SapCode)
            
        </div>
    </div>
</div>