﻿@model MMS.StoreFulfillment.ManagerUI.Models.ManagerTask.HandoverToCustomerAdditionalInfo

<div class="row">
    <div class="col-sm-8 col-md-8">
        <table class="table table-striped">
            <tr>
                <td>Резерв действителен до</td>
                <td>@Html.DisplayFor(m => m.ExpirationDate)</td>
            </tr>
            <tr>
                <td>Тип оплаты</td>
                <td>@Html.DisplayFor(m => m.PaymentType)</td>
            </tr>
            <tr>
                <td>Имя покупателя</td>
                <td>@Html.DisplayFor(m => m.CustomerName)</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>@Html.DisplayFor(m => m.Phone)</td>
            </tr>
        </table>
    </div>
</div>