﻿<div id="loginUserDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
    <div class="modal-dialog" title="Login user" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @style = "padding:10px 0px;" }))
            {

                <div class="modal-header">
                    <h4 class="modal-title" id="loginLabel">Вход</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            @Html.Label("Логин", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <input type="text" name="name" id="name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Пароль", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <input type="password" name="password" id="password" value="" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>*@
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            }
        </div>
    </div>
</div>
