﻿@model StoreProvisioning.DAL.Models.OrderLine
<tr>
    <td rowspan="1">
        @Html.DisplayFor(m => m.Index)
    </td>
    <td colspan="3">@(string.IsNullOrEmpty(Model.Title) ? "[название не известно]" : Model.Title)</td>
</tr>
<tr>
    <td></td>
    <td>
        @Html.DisplayFor(m => m.ArticleId)
    </td>
    <td>
        @Html.DisplayFor(m => m.Price)
    </td>
    <td>
        @Html.DisplayFor(m => m.Qty)
    </td>
</tr>
<tr>
    <td></td>
    <td colspan="3">
        @Html.DisplayFor(m => m.DepartmentTotal)
    </td>
</tr>
<tr>
    <td></td>
    <td colspan="3">
        @if (Model.OrderLineAnswers.Any())
        {
            <span>Выберите ответ</span>
            @Html.DropDownListFor(m => Model.OrderLineAnswers, null, "Выберете ответ", new {id = "answersForItem_" + Model.OrderLineId, @class = "required"})
        }
        else
        {
            @Html.DisplayFor(m=>Model.LineComment)    
        }
        
    </td>
</tr>
<tr class="success"><td colspan="4"></td></tr>

@Html.Hidden("itemId")
@Html.HiddenFor(m => m.ArticleId)
@Html.HiddenFor(m => m.OrderLineId)
@Html.HiddenFor(m => m.OrderLineResult.ReviewStatus, new { id = "ReviewStatus_" + Model.OrderLineId })
@Html.HiddenFor(x => x.OrderLineResult.ItemStateDescription, new { id = "ItemStateDescription_" + Model.OrderLineId })

<script type="text/javascript">
    $(document).ready(function() {
        $('#answersForItem_@(Model.OrderLineId)').change(function() {
            $('#answersForItem_@(Model.OrderLineId) option:selected').each(function() {

                var choose = $(this).text();
                $('#ReviewStatus_' + @Model.OrderLineId).val(choose);

                var orderIdForActiveModal = @Model.OrderLineId;
                $('#itemId').val(orderIdForActiveModal);

                var selector = '';
                switch (choose) {
                case 'Отложен частично':
                    selector = '#modalReservedPart';
                    break;
                case 'Отложен витринный экземпляр':
                    selector = '#modalReservedDisplayItem';
                    break;
                case 'Не найден':
                    selector = '#modalNotFound';
                    break;
                case 'Неправильная цена':
                    selector = '#modalIncorrectPrice';
                    break;
                }

                $(selector).modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        });
    });
</script>