﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="cache-control" content="no-cache, no-store, max-age=0, must-revalidate" />
        <meta http-equiv="expires" content="0" />
        <meta name="viewport" content="width=450, initial-scale=0.7, maximum-scale=0.7, user-scalable=0" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/managerCss")
        @Scripts.Render("~/Scripts/managerScripts")
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>