﻿@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Error.</h1>
        <h1 class="text-danger">An error occurred while processing your request.</h1>
        <h2 class="text-danger">@Model</h2>
    </hgroup>
</body>
</html>
