﻿body div.wrapper {
    width: 700px;
}

table tr.last-tr {
    height: 15px;
}

textarea {
    resize: vertical;
}

table {
    border-collapse:collapse;
}

.input-sm {
    display: block;
}

.validation-error {
   color: #a94442;
}

.textarea-large {
    width: 400px;
}