﻿@model StoreProvisioning.DAL.Models.Content.AssembleItemsContent
<table class="table table-striped">
    <tr>
        <td>Тип оплаты</td>
        <td>@Html.DisplayFor(m => m.PaymentType)</td>
    </tr>
    <tr>
        <td>Имя покупателя</td>
        <td>@Html.DisplayFor(m => m.CustomerFullName)</td>
    </tr>
    <tr>
        <td>Почта</td>
        <td>
            <a href="mailto:@(Model.CustomerEmail)">
                @Html.DisplayFor(m => m.CustomerEmail)
            </a>
        </td>
    </tr>
    <tr>
        <td>Город доставки</td>
        <td>@Html.DisplayFor(m => m.DeliveryCity)</td>
    </tr>
    <tr>
        <td>Адрес доставки</td>
        <td>@Html.DisplayFor(m => m.DeliveryAddress)</td>
    </tr>
    <tr>
        <td>Комментарий к заказу</td>
        <td>
            @Html.TextAreaFor(m => m.Comments, 2, 0, new { @class = "form-control textarea-large", @placeholder = "Комментарий…" })
        </td>
    </tr>
</table>