﻿@using StoreProvisioning.DAL.Models
@model IList<OrderLine>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Артикул</th>
            <th>Цена</th>
            <th>Кол-во</th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorForModel(Model)
    </tbody>
</table>
