﻿@using System.Linq
@using StoreProvisioning.Services.Model
@model OrderViewModel
<h4>@string.Format("Заказ № {0} {1}-{2}", Model.Task.WWSOrderId, Model.Task.Store.SapCode, Model.MoveItemsCommand.WwsOrderId)</h4>
<h5>Задача: @Model.Task.Name</h5>
@using (Html.BeginForm("Complete", "Manager", FormMethod.Post, new { id = "order-form" }))
{
    @Html.HiddenFor(m => m.Task.TaskId)
    @Html.HiddenFor(m => m.MoveItemsCommand.RequestId)
    @Html.HiddenFor(m => m.MoveItemsCommand.Outcome)

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table table-striped">
                <tr>
                    <td>@Model.Task.Description</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            @Html.HiddenFor(m => m.MoveItemsCommand.AdditionalContentType)
            @Html.Action("ItemContent", new { modelTypeName = Model.MoveItemsCommand.AdditionalContentType, content = Model.MoveItemsCommand.AdditionalContent })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            @{ Html.RenderPartial("Partials/_OrderLines", Model.MoveItemsCommand.OrderLines); }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8" id="accordionOutcomes">
            @foreach (var outcome in Model.Task.Outcomes)
            {
                var allReqFields = Model.Task.RequiredFields.Union(outcome.RequiredFields) as List<RequiredField> ?? new List<RequiredField>();

                Html.RenderPartial("Partials/_Outcome", outcome, new ViewDataDictionary { { "allReqFields", allReqFields } });
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            @Html.ActionLink("Завершить позднее", "FinishLater", new { taskId = Model.Task.TaskId }, new { @class = "btn btn-danger btn-large btn-block" })
        </div>
    </div>
}
<script type="text/javascript">
    $('#order-form button.outcome').click(function () {
        $('form#order-form').validate({ errorClass: "validation-error" });
        if (!$('form#order-form').valid()) return;
        $('#MoveItemsCommand_Outcome').val($(this).val());
    });
</script>